<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessTripsApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".create_office_activity.CreateOfficeActivity"
            android:exported="false"
            android:parentActivityName=".main_activity.MainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".create_user_activity.CreateUserActivity"
            android:exported="false"
            android:parentActivityName=".main_activity.MainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".notification_details_activity.NotificationDetailsActivity"
            android:exported="false"
            android:parentActivityName=".notification_activity.NotificationActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".notification_activity.NotificationActivity"
            android:exported="false"
            android:parentActivityName=".main_activity.MainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".main_activity.MainActivity"
            android:exported="false"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".start_activity.StartActivity"
            android:exported="true"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>